.navBar{
    color: var(--color-principal);
}

.contactPage{
    display: flex;
    padding: 3.75rem;
    flex-direction: column;
    box-shadow: 0px 5px 24px 0px rgba(117, 120, 139, 0.10);
    margin: 6rem 4rem 12rem 4rem;
}
.gapContactPage{
    display: flex;
    margin-bottom: 1.25rem;
    flex-direction: column;
}
.borde{
    border:  rgba(5,5,5,0.18) solid 1px;
    border-radius: 0.7rem;
}
.marginContact{
    margin-bottom: 1.8rem;
}
.padding{
    padding: 0.5rem;
}
.marginSpan{
    margin-bottom: 0.5rem;
}
.sendButton{
    display: flex;
    background-color: var(--color-principal);
    color: var(--color-letra);
    width: 50%;
    justify-content: center;
}
.sendButton:active{
    filter:contrast(90%);
}
.sendButton:hover{
    background-color: rgba(51, 6, 94, 0.911);
}
.sendDiv{
    display: flex;
    align-items: flex-end;
    margin-top: 0.5rem;
}
.navBarMarginRight{
    margin-right: 1rem;
}
.fondoContact{
    background-color: var(--color-blanco);
}

@media screen and (max-width: 660px){
    .contactPage{
        display: flex;
        padding: 3.75rem;
        flex-direction: column;
        box-shadow: 0px 5px 24px 0px rgba(117, 120, 139, 0.10);
        margin: 2rem 1rem 4rem 1rem;
    }
    
}