.gridHomePage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.84rem;
}
@media screen and (max-width: 660px){
    .gridHomePage{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.5rem;
    }
}



